@use '@styles/global/variables' as vars;

.add-todo-form {
  &__fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }

  &__field input {
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid vars.$color-haiti;
  }

  &__error {
    position: relative;
    top: 4px;
    left: 10px;
    height: 1px;
    margin: 0;
    font-size: 14px;
    color: vars.$color-amaranth;
  }

  &__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    color: vars.$color-white;
    background-color: vars.$color-dodger-blue;
    border: 1px solid vars.$color-dodger-blue;
    border-radius: 10px;

    .icon {
      width: 20px;
      height: 20px;
      color: vars.$color-white;
    }
  }

  &__submit:hover {
    background-color: vars.$color-dodger-blue-hover;
    border: 1px solid vars.$color-dodger-blue-hover;
    cursor: pointer;
  }
}

@media screen and (max-width: 767px) {
  .add-todo-form {
    &__fields {
      width: 300px;
      gap: 10px;
    }

    &__field input {
      padding: 6px;
    }

    &__error {
      font-size: 12px;
    }

    &__submit {
      padding: 6px 10px;
      border-radius: 6px;
      .icon {
        width: 14px;
        height: 14px;
        color: vars.$color-white;
      }
    }
  }
}
