@use '@styles/global/variables' as vars;

.login-form {
  &__fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 30px;
    background-color: vars.$color-solitude;
    border: 1px solid vars.$color-deluge;
    border-radius: 20px;
  }

  &__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  &__error {
    margin: 6px 0;
    font-size: 14px;
    text-align: center;
    color: vars.$color-amaranth;
  }

  &__submit {
    margin-top: 10px;
    padding: 10px 14px;
    color: vars.$color-white;
    background-color: vars.$color-dodger-blue;
    border: 1px solid vars.$color-dodger-blue;
    border-radius: 10px;
  }
  &__submit:hover {
    background-color: vars.$color-dodger-blue-hover;
    border: 1px solid vars.$color-dodger-blue-hover;
    cursor: pointer;
  }
}
