@use '@styles/global/variables' as vars;
@forward '@styles/blocks/todo-item';

.todo-list {
  &__wrapper {
    height: 100%;
  }
}

.tabs {
  .MuiTabs-flexContainer {
    gap: 20px;
  }

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
  }
}

.todos {
  &__list {
    padding: 0;
    color: vars.$color-haiti;
    list-style: none;
    max-height: 500px;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: vars.$color-deluge vars.$color-solitude;
  }

  &__item {
    margin: 10px 0;
  }
}

@media screen and (max-width: 767px) {
  .tabs {
    .MuiTabs-flexContainer {
      flex-wrap: wrap;
      gap: 20px 10px;
    }
    .MuiTabs-indicator {
      display: none;
    }

    &__list {
      gap: 10px;
      text-align: center;
    }

    &__item {
      padding: 4px;
      font-size: 12px;
      width: 100px;
    }
  }

  .todos {
    &__list {
      max-height: 250px;
      font-size: 12px;
    }

    &__item {
      margin: 6px 0;
    }
  }
}
