// Colors
$color-haiti: #2d2a42;
$color-deluge: #7d7b8e;
$color-solitude: #eceff2;
$color-white: #ffffff;
$color-amaranth: #dc3545;
$color-amaranth-hover: #bd2130;
$color-dodger-blue: #007bff;
$color-dodger-blue-hover: #0062cc;
